@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(87, 86, 86);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: rgb(63, 224, 245);
    font-size: 3em;
    text-align: center;
    margin: 50px 0px 50px 10px;
    text-shadow: 10px 10px 30px rgba(63, 224, 245, 0.486);
}


div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;

    width: 400px;
}

div#timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}

input {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: none; 
    outline: none;
    text-align: center;
    font-size: 1.5em;
}

div#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

button{
    width: 100px;
    height: 30px;
    background-color: rgb(63, 224, 245);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.493);
    cursor: pointer;

}

p {
    text-align: center;
    margin: 100px auto 20px auto;
    font-size: 5em;

}

