@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    margin-left: 50px;
    margin-top: 30px;
}

ul {
    margin-top: 20px;
    list-style: none;
    font-weight: bold;
}

li {
    margin-top: 10px;
}

input {
    margin-left: 5px;
    width: 300px;
    outline: none;
    padding-left: 5px;
}

h2 {
    color: red;
    font-size: 0.8em;
    margin-top: 30px;
}

button {
    margin-top: 30px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}