@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(49, 49, 49);
}

div#head {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
}

h1 {
    font-size: 3.5em;

}
button#add {
    height: 30px;
    font-weight: bold;
    background-color: rgb(180, 180, 180);
}
input#text {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}

select#list {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: rgb(229, 229, 230);
    font-weight: bold;
    outline: none;
    border: none;

}

select#list:hover {
    opacity: 70%;
    box-shadow: 5px 5px 10px rgba(153, 152, 152, 0.308);
}



div#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    width: 700px;
    margin: auto;
    font-weight: bold;

}

li {
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 10px;
    justify-content: space-between;
    
}

button {
    border-radius: 5px;
    width: 80px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

button.complete:hover {
    background-color: greenyellow;
    opacity: 85%;
}

button.edit:hover {
    background-color: rgb(250, 147, 12);
    opacity: 85%;
}

button.delet:hover {
    background-color: rgb(255, 60, 60);
    opacity: 85%;
    color: aliceblue;
}

.completedTask {
    color: grey;
    text-decoration: line-through;
}

.hidden{
    display: none;
}

